h1{	
	 text-align:center;
	 color: rgba(0,0,0,.6);
	 margin-bottom:2;
	 font-size:50px;
 }

a#ahome{
	text-decoration:none;
	color:rgba(244,67,54,.6);
	font-size:25px;
}

th#nonTitle{
	background-color:rgba(255,255,255,.6);
}

th#noneTitleHome{
	background-color:rgba(0,0,0,.6);
}

a{
	text-decoration:none;
	color:rgba(255,255,255,.6);
	font-size:25px;
}

table{
	border:none;	
	text-align:center;
	margin:auto;
	margin-top:50px;
}

td{
	padding:15px;
	border:3px solid rgba(169, 169, 169, 0.6);
	/*background-color:rgba(0,0,0,.6);*/
	background-color:rgba(255,255,255,.3);
	height:130px;
	width:130px;
}

th{
	color:rgba(0,0,0,.6);
	font-size:30px;
	border:3px solid rgba(169, 169, 169, 0.6);
	padding:15px;
	background-color:rgba(255,255,255,.6);
}
a#ahome:hover{
	color:rgba(139,0,0,.6);
}