html{
	height:100%;
	width:100%;
}

body{
	/* background-color:white; */
	background-image:url("Assets/Pictures/light_wood.png");
	background-attachment:fixed;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6{
	color: green;
}

.container{
	height:100%;
	width:100%;
}

.header{
	background-color:rgba(0, 132, 255, 1);
	background-image:linear-gradient(120deg,#525252,#3d72b4);
	height:200px;
	width:100%;
}

#title{
	margin:0;
	text-align:center;	
	color:white;
	font-family:Calibri,Verdana;
}

h1{
	padding-bottom:5px;
	padding-top:20px;
	font-size:65px;
}

h4{
	font-size:20px;
}

.resume{
	padding-top:10px;
	text-align:center;
}

#resumeButton{
	background-color:rgba(255,255,255,.65);
	border: solid 1px;
	padding: 15px 15px;
	border-radius:10px;
}

#resumeButton:hover{
	background-color:rgba(255,255,255,1);
}

.menu{
	background-color:rgba(203, 203, 203, 1);
	text-align:center;
}

.nav{
	background-color:rgba(255,255,255,.65);
	border-radius:0px;
	border: solid 1px;
	padding: 15px 30px;
}

.menu:hover{
	background-color:255,255,255,1);
}

h2{
	text-align:center;
	color:green;
}

#current{
	background-color:rgba(64,64,64,.65)
}

#about{
	text-align:center;
	font-size:18px;
	color:blue;
}

#projects{
	font-size:
}

.contents{
	text-align:center;
	width:50%;
	margin:0 auto 0 auto;
}

#break{
	margin:0;
}

.footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;
	background-color:rgba(191,191,191,.65);
}

#credit{
	text-align:center;
	margin:0 0 0 25px;
	padding-top:10px;
	/* padding-left:44%; */
	color:rgba(0,0,0,.5);	
	display:inline-block;
}

.picture{
	padding-top:10px;
	float:right;
	margin:0;
}

#linkedin{
	padding-right:50px;
}

#email{
	padding-right:15px;
}

#github{
	padding-right:15px;
}